.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	height: 25px;
	z-index: 1;

	display: flex;
	justify-content: space-between;

	/* Animations */
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.navbar__blank {
	background-color: #111;
}

.n .navbar__logo {
	position: fixed;
	left: 20px;
	width: 80px;
	object-fit: contain;
}

.navbar__avatar {
	position: fixed;
	right: 20px;
	width: 30px;
	object-fit: contain;
}
